# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
DEMO/styles.css
DEMO/index.html
DEMO/scripts.js
match_events_rows.csv
match_logs_rows.csv
match_status_rows.csv
players_rows.csv
SQL_structure_7-11-2026.txt
SQL_structure_7-11-2026.txt
functions.txt
rls policies.txt
Triggers.txt
